<div>
    <h2>Thông tin tài khoản người dùng</h2>
    <br/>
    <ul>
        <li><strong>Email: </strong><%=email %></li>
        <li><strong>Password: </strong><%=password %></li>
        <li><strong>Website: </strong><%=website %></li>
    </ul>
</div>